<header class="main-header">
  <div class="header-container">

    <div class="brand">
      <a href="https://www.sorteieaqui.com.br/"><img src="assets/logo_sorteie.png" alt="Sorteie.com"></a>
    </div>

    <nav class="main-nav">
      <a href="index.html">Sortear Números</a>
      <a href="names.html">Sortear Nomes</a>
      <a href="bingo.html">Bingo</a>
    </nav>

  </div>

  <div class="header-info">
    <span class="status online">Online</span>
    <span>• Sorteios justos</span>
    <span>• Sem cadastro</span>
  </div>
</header>
